<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Do_An_SEP.Properties.Settings.OOPConnectionString" connectionString="Data Source=DESKTOP-251QNVR\SQLEXPRESS;Initial Catalog=OOP;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
